<section id="registration">
  <header id="registration-banner">
    <img src="/images/RSVP-banner.png" alt="registration-banner" width="422" height="145" />
  </header>
  <%= semantic_form_for current_user,
        :html => { :id => "event-registration",
                   'data-type' => 'html' } do |form| %>
    <ol class="form">
      <%= form.input :description, :label => "Tell local students about yourself", :required => true %>
      <li id="radio">
        <label>Are you attending the after-party?<abbr title="required">*</abbr></label>
        <p class="radio developer">
          <%= form.radio_button :partying, true, %>
          <%= form.label :partying, "Partying", :for => "user_partying_partying" %>
        </p>
        <p class="radio designer">
          <%= form.radio_button :partying, false %>
          <%= form.label :partying, "Not Partying", :for => "user_partying_not_partying" %>
        </p>
      </li>
      <li id="submit-button">
        <%= form.submit "Change RSVP", :disable_with => "Please wait..." %>
      </li>
    </ol>
  <% end %>
</section>
