<% content_for :header do %>
  <%= render 'party' %>
<% end %>

<section id="main-continue" class="party-main">
  <% if current_user %>
    <%= render :partial => 'form' %>
  <% else %>
    <% link_to "/auth/twitter" do %>
      <div class="register-button top clearfix">
        <div class="hand left"></div>
        <h2><a href="#registration">rsvp via twitter</a></h2>
        <div class="hand right"></div>
      </div>
    <% end %>
  <% end %>

  <hr class="alternate" />

  <section id="attendees">
    <header>
      <h1>Bostonians</h1>
    </header>
    <h2 id="developer-title">Partying</h2><h2 id="designer-title">not partying... this time</h2>
    <div id="developer-attendees" class="left">
      <ul>
        <% @partiers.each do |partier| %>
          <li>
            <%= twitter_avatar partier.twitter, 48 %>
            <hgroup>
              <h3><%= partier.name %></h3>
              <h4><%= partier.description %></h4>
            </hgroup>
          </li>
        <% end %>
      </ul>
    </div>
    <div id="designer-attendees" class="right">
      <ul>
        <% @bostonians.each do |bostonian| %>
          <li>
            <%= twitter_avatar bostonian.twitter, 48 %>
            <hgroup>
              <h3><%= bostonian.name %></h3>
              <h4><%= bostonian.description %></h4>
            </hgroup>
          </li>
        <% end %>
      </ul>
    </div>
  </section>
</section>

<div id="main-bottom"></div>
