<div id="registration-banner">
  <img src="/images/registration-banner.png" alt="registration-banner" width="422" height="145" />
  <p id="subtitle">Tell us more about yourself</p>
</div>
<%= semantic_form_for @registration, :remote => true,
      :html => { :name => "Event Registration",
                 :id   => "event-registration",
                 'data-type' => 'html' } do |form| %>
  <ol class="left">
    <%= form.input :twitter, :label => "Twitter Name" %>
    <%= form.input :name,    :label => "Full Name" %>
    <%= form.input :school,  :label => "School" %>
  </ol>
  <ol class="right">
    <li id="radio">
      <label>Weapon of choice<abbr title="required">*</abbr></label>
      <p class="radio developer">
        <%= form.radio_button :role, "Developer" %>Developer
      </p>
      <p class="radio designer">
        <%= form.radio_button :role, "Designer" %>Designer
      </p>
    </li>
    <li id="submit-button">
      <%= form.submit "Register", :id => "submit-btn", :disable_with => "Please wait..." %>
    </li>
  </ol>
<% end %>
