<div id="registration-banner">
  <img src="/images/registration-banner.png" alt="registration-banner" width="422" height="145" />
  <p id="subtitle">Tell us more about yourself</p>
</div>
<%= semantic_form_for @registration, :remote => true,
      :html => { :name => "Event Registration",
                 :id   => "event-registration",
                 'data-type' => 'html' } do |form| %>
  <ol class="form">
    <%= form.input :twitter,     :label => "Twitter Name", :input_html => { :tabindex => 1 }%>
    <%= form.input :name,        :label => "Full Name",    :input_html => { :tabindex => 2 } %>
    <%= form.input :school_name, :label => "School",       :input_html => { :tabindex => 3 }%>
    <li id="radio">
      <label>Weapon of choice<abbr title="required">*</abbr></label>
      <p class="radio developer">
        <%= form.radio_button :role, "Developer", :input_html => { :tabindex => 4 } %>
        <%= form.label :role, "Developer", :for => "registration_role_developer" %>
      </p>
      <p class="radio designer">
        <%= form.radio_button :role, "Designer", :input_html => { :tabindex => 5 } %>
        <%= form.label :role, "Designer", :for => "registration_role_designer" %>
      </p>
    </li>
    <li id="submit-button">
      <%= form.submit "Register", :disable_with => "Please wait...", :input_html => { :tabindex => 6 }%>
    </li>
  </ol>
<% end %>

<% content_for :javascript do %>
  $(document).ready(function() {
    $("input#registration_school_name").autocomplete({
      source: <%= School.names.to_json.html_safe %>
    });
  });
<% end %>
