<div class="student">
  <div class="avatar">
    <img src="http://avatar.statusok.com/<%= registration.twitter %>?size=73" />
  </div>
  <div class="student-details">
    <div class="name"><%= registration.name %></div>
    <div class="twitter">@<%= registration.twitter %></div>
    <div class="role-and-school">
      <%= registration.role %>, <%= registration.school %>
    </div>
  </div>
  <h2>Thanks for registering! We can't wait to see you!</>
  <h3>Follow @<a href="http://twitter.com/thoughtbot">thoughtbot</a> and @<a href="http://twitter.com/greenhornboston">greenhornboston</a> for updates.</h3>
  <h3>We also invite you to join our private <a href="http://groups.google.com/group/developers-developers-developers-developers">mailing list</a> for speakers and attending students.</h3>
</div>
