<section id="free-event">
  <img src="/images/free-event-1.png" alt="free-event" width="25" height="49" />
  <a href="#registration"><img src="/images/free-event-2.png" alt="free-event" width="82" height="49" /></a>
  <img src="/images/free-event-3.png" alt="free-event" width="353" height="49" />
</section>

<section id="main">
  <div id="descriptions" class="clearfix">
    <section id="what">
      <header>
        <h2>What</h2>
      </header>
      <p>
        On a cold Saturday in February, 140 high school and college students will gather to talk about making
        web and mobile applications. In-demand technologies will be introduced by some of the premier members
        of the web startup community. <%= link_to "Learn more.", page_path("what") %>
      </p>
    </section>
    <div id="divider">
      <img src="/images/description-divider.png" alt="description-divider" width="48" height="174" />
    </div>
    <section id="why">
      <header>
        <h2>Why</h2>
      </header>
      <p>
        There is a shortage of great designer and developer talent in Boston, San Francisco, New York, and
        elsewhere as startup demand has increased recently. Jobs are available but more importantly,
        the work is intrinsicly fun and satisfying.
      </p>
    </section>
  </div>
  <hr class="bottom"/>
  <section id="event-location">
    <div id="compass">
      <img src="/images/compass.png" alt="compass" width="211" height="181" />
    </div>
    <div id="location">
      <p>One Memorial Drive, Cambridge, MA</p>
      <p class="venue">Microsoft NERD Center</p>
      <p class="date">11am - 3pm, february 5th, 2011</p>
    </div>
  </section>
  <hr class="top"/>
  <div class="register-button top clearfix">
    <div class="hand left"></div>
    <h2><a href="#registration">register now</a></h2>
    <div class="hand right"></div>
  </div>
</section>
<div id="main-bottom">
</div>
<section id="schedule">
  <header>
    <h1>Schedule</h1>
  <header>
  <p id="schedule-info">Students will eat, hear some talks, then meet designers and developers from startups. The talks are short and motivational. Many focus on one technology or technique which is currently in high demand by startups. Students will hear why it's awesome and some of the cool things you can do with it. They will not be introductory tutorials. We're <%= link_to "carefully curating resources", page_path("what") %> for further study on each topic.</p>
  <ol id="schedule">
    <li>
      <p class="event-time">11:00am</p><p class="event-title"><a href="#">Brunch</a></p>
    </li>
    <li>
      <p class="event-time">11:30am</p>
      <p class="event-title"><%= link_to "Why Work at a Startup?", page_path("what", :anchor => "why-work-at-a-startup") %></p>
      <p class="event-speaker">Angus Davis (Swipely)</p>
    </li>
    <li>
      <p class="event-time">11:40am</p>
      <p class="event-title"><%= link_to "A Day in the Life of a Designer", page_path("what", :anchor => "a-day-in-the-life-of-a-designer") %></p>
      <p class="event-speaker double">Caroline Hadilaksono &amp; <br />Micah Rich (A Good Company)</p>
    </li>
    <li>
      <p class="event-time">11:50am</p><p class="event-title"><a href="#">A Day in the Life of a Developer</a></p>
      <p class="event-speaker">Dharmesh Shah (Hubspot)</p>
    </li>
    <li>
      <p class="event-time">12:00pm</p>
      <p class="event-title"><a href="#">User Experience</a></p>
      <p class="event-speaker">TBA</p>
    </li>
    <li>
      <p class="event-time">12:10pm</p>
      <p class="event-title"><a href="#">Typography</a></p>
      <p class="event-speaker">TBA</p>
    </li>
    <li>
      <p class="event-time">12:20pm</p>
      <p class="event-title"><%= link_to "Grids", page_path("what", :anchor => "grids") %></p>
      <p class="event-speaker">Chad Mazzola (thoughtbot)</p>
    </li>
    <li>
      <p class="event-time">12:30pm</p>
      <p class="event-title"><a href="#">Text Editor</a></p>
      <p class="event-speaker">TBA</p>
    </li>
    <li>
      <p class="event-time">12:40pm</p>
      <p class="event-title"><%= link_to "Unix Shell", page_path("what", :anchor => "unix-shell") %></p>
      <p class="event-speaker">Mike Burns (thoughtbot)</p>
    </li>
    <li>
      <p class="event-time">12:50pm</p>
      <p class="event-title"><%= link_to "Git", page_path("what", :anchor => "git") %></p>
      <p class="event-speaker">Tom Preston-Werner (Github)</p>
    </li>
    <li>
      <p class="event-time">1:00pm</p><p class="event-title"><a href="#">Break</a></p>
    </li>
    <li>
      <p class="event-time">1:10pm</p>
      <p class="event-title"><%= link_to "Web Standards", page_path("what", :anchor => "web-standards") %></p>
      <p class="event-speaker">Chris Bowen (Microsoft)</p>
    </li>
    <li>
      <p class="event-time">1:20pm</p>
      <p class="event-title"><a href="#">HTML5 & CSS3</a></p>
      <p class="event-speaker">TBA</p>
    </li>
    <li>
      <p class="event-time">1:30pm</p>
      <p class="event-title"><%= link_to "jQuery", page_path("what", :anchor => "jquery") %></p>
      <p class="event-speaker">John Resig (Mozilla)</p>
    </li>
    <li>
      <p class="event-time">1:40pm</p>
      <p class="event-title"><%= link_to "jQuery Mobile", page_path("what", :anchor => "jquery-mobile") %></p>
      <p class="event-speaker">John Resig (Mozilla)</p>
    </li>
    <li>
      <p class="event-time">1:50pm</p>
      <p class="event-title"><%= link_to "Ruby on Rails", page_path("what", :anchor => "ruby-on-rails") %></p>
      <p class="event-speaker">Pat Nakajima (GroupMe)</p>
    </li>
    <li>
      <p class="event-time">2:00pm</p>
      <p class="event-title"><%= link_to "PostgreSQL", page_path("what", :anchor => "postgresql") %></p>
      <p class="event-speaker">Jim Psota (Panjiva)</p>
    </li>
    <li>
      <p class="event-time">2:10pm</p>
      <p class="event-title"><%= link_to "NoSQL", page_path("what", :anchor => "nosql") %></p>
      <p class="event-speaker">Daniel Weinreb (ITA Software)</p>
    </li>
    <li>
      <p class="event-time">2:20pm</p>
      <p class="event-title"><%= link_to "Ship It", page_path("what", :anchor => "ship-it") %></p>
      <p class="event-speaker">Ben Scofield (Heroku)</p>
    </li>
    <li>
      <p class="event-time">2:30pm</p><p class="event-title"><a href="#">Startup Tables</a></p>
    </li>
  </ol>
</section>
<div id="main-continue-top">
</div>
<section id="main-continue">
  <div class="register-button bottom clearfix">
    <div class="hand left"></div>
    <h2><a href="#registration">register now</a></h2>
    <div class="hand right"></div>
  </div>
  <!--
  <hr class="bottom"/>
  <div id="after-party" class="clearfix">
    <div class="wreath left">
      <img src="/images/angel-investors.png" alt="angel-investors" width="215" height="200" />
    </div>
    <div id="after-party-description">
      <h1>after party</h1>
      <h4>drinks on the rich dudes</h4>
      <h2>Flat Top Jonny's</h2>
      <h3>One Kendall Square</h3>
    </div>
    <div class="wreath right">
      <img src="/images/venture-capitalists.png" alt="venture-capitalists" width="215" height="200" />
    </div>
  </div>
  -->
  <hr class="top"/>
  <section id="registration">
    <a name="register"></a>
    <%= render :partial => 'form', :locals => { :registration => @registration } %>
  </section>
  <hr class="bottom"/>
  <section id="startup_tables">
    <header id="banner">
      <img src="/images/startup_tables.png" alt="Startup Tables" width="422" height="130" />
    </header>
    <ul id="startup_tables_list">
      <li>
        <h2>Performable</h2>
        <%= twitter_avatar "Performable" %>
        <p>Every day, 98% of the people who visit your website make a near-instantaneous decision NOT to do business with you. They end up leaving, never to return. With Performable's easy-to-use, do-it-yourself tools you can improve your website and convert online visitors into customers.</p>
      </li>
    </ul>
  </section>
  <hr class="alternate"/>
  <section id="attendees">
    <header>
      <h1>The Attendees</h1>
    </header>
    <h2 id="developer-title">developers</h2><h2 id="designer-title">designers</h2>
    <div id="developer-attendees" class="left">
      <ul>
        <% 3.times do %>
          <li>
          <div class="avatar">
            <a href="#"><img src="http://avatar.statusok.com/drdre?size=48" alt="Twiiter Avatar" /></a>
          </div>
          <hgroup>
            <h3>First Last</h3>
            <h4>University / School Name</h4>
          </hgroup>
          </li>
        <% end %>
      </ul>
    </div>
    <div id="designer-attendees" class="right">
      <ul>
        <% 3.times do %>
          <li>
          <div class="avatar">
            <a href="#"><img src="http://avatar.statusok.com/kanye?size=48" alt="Twiiter Avatar" /></a>
          </div>
          <hgroup>
            <h3>First Last</h3>
            <h4>University / School Name</h4>
          </hgroup>
          </li>
        <% end %>
      </ul>
    </div>
  </section>
</section>
