<div data-role="page" id="home">
  <div id="logo-header" data-role="header">
    <img src="/stylesheets/images-mobile/DDDD-logo.png" alt="D8-header" />
  </div>

  <ul data-role="listview">
    <li><%= link_to "Talks", talks_path %></li>
    <li><%= link_to "Students", "#students" %></li>
    <li><%= link_to "Startups", startups_path %></li>
    <li><%= link_to "After-Party", party_path(:mobile => true) %></li>
    <li><%= link_to "Opportunities", opportunities_path %></li>
  </ul>
</div>

<div data-role="page" id="students">
  <div data-role="header">
    <h1>Students</h1>
  </div>

  <ul data-role="listview">
    <li><%= link_to "Designers",  designers_path %></li>
    <li><%= link_to "Developers", developers_path %></li>
  </ul>
</div>
