<section id="free-event">
  <img src="/images/free-event-1.png" alt="free-event" width="25" height="49" />
  <a href="#registration"><img src="/images/free-event-2.png" alt="free-event" width="82" height="49" /></a>
  <img src="/images/free-event-3.png" alt="free-event" width="353" height="49" />
</section>

<section id="main">
  <div id="descriptions" class="clearfix">
    <section id="what">
      <header>
        <h2>What</h2>
      </header>
      <p>
        140 high school and college students will gather on a winter Saturday to talk about making
        web and mobile applications. In-demand technologies will be introduced by accomplished folks.
        Designers and developers from hiring web startups will be available to meet students after
        the talks. <%= link_to "Learn more.", page_path("what") %>
      </p>
    </section>
    <div id="divider">
      <img src="/images/description-divider.png" alt="description-divider" width="48" height="174" />
    </div>
    <section id="why">
      <header>
        <h2>Why</h2>
      </header>
      <p>
        There is a shortage of great designers and developers in Boston, San Francisco, and New York
        right now as startup demand has increased dramatically. They need the next generation to
        join them in creating the latest technological revolutions in information and telecommunications.
      </p>
    </section>
  </div>
  <hr class="bottom"/>
  <section id="event-location">
    <div id="compass">
      <img src="/images/compass.png" alt="compass" width="211" height="181" />
    </div>
    <div id="location">
      <p>One Memorial Drive, Cambridge, MA</p>
      <p class="venue">Microsoft NERD Center</p>
      <p class="date">11am - 4pm, february 5th, 2011</p>
    </div>
  </section>
  <hr class="top"/>
  <div class="register-button top clearfix">
    <div class="hand left"></div>
    <h2><a href="#registration">register now</a></h2>
    <div class="hand right"></div>
  </div>
</section>
<div id="main-bottom"></div>
<section id="schedule">
  <header>
    <h1>Schedule</h1>
  </header>
  <p id="schedule-info">Students will eat, hear some talks, then meet designers and developers from startups. The talks are short and motivational. Many focus on one technology or technique which is currently in high demand by startups. Students will hear why it's awesome and some of the cool things you can do with it. They will not be introductory tutorials. We're <%= link_to "carefully curating resources", page_path("what") %> for further study on each topic.</p>
  <ol id="schedule">
    <li>
      <p class="event-time">11:00am</p><p class="event-title"><a href="#">Brunch</a></p>
    </li>
    <li>
      <p class="event-time">11:30am</p>
      <p class="event-title"><%= link_to "Why Work at a Startup?", page_path("what", :anchor => "why-work-at-a-startup") %></p>
      <p class="event-speaker">Angus Davis (Swipely)</p>
    </li>
    <li>
      <p class="event-time">11:40am</p>
      <p class="event-title"><%= link_to "A Day in the Life of a Designer", page_path("what", :anchor => "a-day-in-the-life-of-a-designer") %></p>
      <p class="event-speaker double">Caroline Hadilaksono &amp; <br />Micah Rich (A Good Company)</p>
    </li>
    <li>
      <p class="event-time">11:50am</p>
      <p class="event-title"><%= link_to "A Day in the Life of a Developer", page_path("what", :anchor => "a-day-in-the-life-of-a-developer") %></p>
      <p class="event-speaker">Dharmesh Shah (HubSpot)</p>
    </li>
    <li>
      <p class="event-time">12:00pm</p>
      <p class="event-title"><%= link_to "User Experience", page_path("what", :anchor => "user-experience") %></p>
      <p class="event-speaker">Ben Pieratt (Svpply)</p>
    </li>
    <li>
      <p class="event-time">12:10pm</p>
      <p class="event-title"><%= link_to "Typography", page_path("what", :anchor => "typography") %></p>
      <p class="event-speaker">Annie Wang (Her Campus)</p>
    </li>
    <li>
      <p class="event-time">12:20pm</p>
      <p class="event-title"><%= link_to "Grids", page_path("what", :anchor => "grids") %></p>
      <p class="event-speaker">Chad Mazzola (thoughtbot)</p>
    </li>
    <li>
      <p class="event-time">12:30pm</p>
      <p class="event-title"><%= link_to "Text Editor", page_path("what", :anchor => "text-editor") %></p>
      <p class="event-speaker">Beth Andres-Beck (BAE Systems)</p>
    </li>
    <li>
      <p class="event-time">12:40pm</p>
      <p class="event-title"><%= link_to "Unix Shell", page_path("what", :anchor => "unix-shell") %></p>
      <p class="event-speaker">Mike Burns (thoughtbot)</p>
    </li>
    <li>
      <p class="event-time">12:50pm</p>
      <p class="event-title"><%= link_to "Git", page_path("what", :anchor => "git") %></p>
      <p class="event-speaker">Tom Preston-Werner (Github)</p>
    </li>
    <li>
      <p class="event-time">1:00pm</p><p class="event-title"><a href="#">Break</a></p>
    </li>
    <li>
      <p class="event-time">1:10pm</p>
      <p class="event-title"><%= link_to "Web Standards", page_path("what", :anchor => "web-standards") %></p>
      <p class="event-speaker">Chris Bowen (Microsoft)</p>
    </li>
    <li>
      <p class="event-time">1:20pm</p>
      <p class="event-title"><%= link_to "HTML5 and CSS3", page_path("what", :anchor => "html5-css3") %></p>
      <p class="event-speaker double">Matt Hodgson &amp; <br />Mike Manning (TurningArt)</p>
    </li>
    <li>
      <p class="event-time">1:30pm</p>
      <p class="event-title"><%= link_to "jQuery", page_path("what", :anchor => "jquery") %></p>
      <p class="event-speaker">John Resig (Mozilla)</p>
    </li>
    <li>
      <p class="event-time">1:40pm</p>
      <p class="event-title"><%= link_to "jQuery Mobile", page_path("what", :anchor => "jquery-mobile") %></p>
      <p class="event-speaker">John Resig (Mozilla)</p>
    </li>
    <li>
      <p class="event-time">1:50pm</p>
      <p class="event-title"><%= link_to "Ruby on Rails", page_path("what", :anchor => "ruby-on-rails") %></p>
      <p class="event-speaker">Pat Nakajima (GroupMe)</p>
    </li>
    <li>
      <p class="event-time">2:00pm</p>
      <p class="event-title"><%= link_to "PostgreSQL", page_path("what", :anchor => "postgresql") %></p>
      <p class="event-speaker">Jim Psota (Panjiva)</p>
    </li>
    <li>
      <p class="event-time">2:10pm</p>
      <p class="event-title"><%= link_to "NoSQL", page_path("what", :anchor => "nosql") %></p>
      <p class="event-speaker">Daniel Weinreb (ITA Software)</p>
    </li>
    <li>
      <p class="event-time">2:20pm</p>
      <p class="event-title"><%= link_to "Ship It", page_path("what", :anchor => "ship-it") %></p>
      <p class="event-speaker">Ben Scofield (Heroku)</p>
    </li>
    <li>
      <p class="event-time">2:30pm</p><p class="event-title"><a href="#">Startup Tables</a></p>
    </li>
  </ol>
</section>
<div id="main-continue-top"></div>
<section id="main-continue">
  <div class="register-button bottom clearfix">
    <div class="hand left"></div>
    <h2><a href="#registration">register now</a></h2>
    <div class="hand right"></div>
  </div>
  <!--
  <hr class="bottom"/>
  <div id="after-party" class="clearfix">
    <div class="wreath left">
      <img src="/images/angel-investors.png" alt="angel-investors" width="215" height="200" />
    </div>
    <div id="after-party-description">
      <h1>after party</h1>
      <h4>drinks on the rich dudes</h4>
      <h2>Flat Top Jonny's</h2>
      <h3>One Kendall Square</h3>
    </div>
    <div class="wreath right">
      <img src="/images/venture-capitalists.png" alt="venture-capitalists" width="215" height="200" />
    </div>
  </div>
  -->
  <hr class="top"/>
  <section id="startup_tables">
    <header id="banner">
      <img src="/images/startup_tables.png" alt="Startup Tables" width="422" height="130" />
    </header>
    <ul id="startup_tables_list">
      <li>
        <h2>Box.net</h2>
        <p><a href="http://box.net">Box.net</a> provides a secure, easy way for businesses to manage content, share large files and collaborate online from anywhere. Since 2005, Box has pioneered the field of cloud content management and helped more than 3 million individuals, small businesses and Fortune 1000 companies reshape how they work.</p>
      </li>
      <li>
        <h2>CampusLIVE</h2>
        <p><a href="http://campuslive.com">CampusLIVE</a> lets students win free prizes daily from companies they like most. Whether it's Xbox gaming systems, Victoria’s Secret shopping sprees, iPads, TV's, or free groceries for an entire year, we aim to provide college students with a chance to win free things they love, each and every day.</p>
      </li>
      <li>
        <h2>Github</h2>
        <p>Git is an extremely fast, efficient, distributed version control system ideal for the collaborative development of software. <a href="http://github.com">GitHub</a> is the best way to collaborate with others. Fork, send pull requests and manage all your public and private git repositories.</p>
      </li>
      <li>
        <h2>GroupMe</h2>
        <p><a href="http://groupme.com">GroupMe</a> lets you effortlessly group text with the people in your life that are important to you. It's your real-life network, in your pocket. It's totally free and works on every phone.</p>
      </li>
      <li>
        <h2>Heroku</h2>
        <p><a href="http://heroku.com">Heroku</a> is a cloud application platform for Ruby – a new way of building and deploying web apps. Our service lets app developers spend 100% of their time on their application code, not managing servers, deployment, ongoing operations, or scaling.</p>
      </li>
      <!--
        <li>
          <h2>HubSpot</h2>
          <p><a href="http://hubspot.com">HubSpot</a>'s vision is to provide a (killer) marketing application and provide great advice to small businesses enabling them to leverage these disruptive effects of the internet to "get found" by more prospects shopping in their niche and to convert a higher percentage of prospects into customers.</p>
        </li>
      -->
      <!--
        <li>
          <h2>ITA Software</h2>
          <p><a href="http://itasoftware.com">ITA Software</a> is used by some of the world's most successful travel companies, including American Airlines, Southwest Airlines, United Airlines, Continental Airlines, Bing, Kayak, and Orbitz. To its customers ITA is a partner in innovation, helping them slash costs, simplify their business, and improve customer service.</p>
        </li>
      -->
      <li>
        <h2>Panjiva</h2>
        <p>With detailed information on 1.5 million companies that do business across borders, <a href="http://panjiva.com">Panjiva</a> is the go-to source for information for global trade professionals who want to find, evaluate, and connect with companies in other countries.</p>
      </li>
      <li>
        <h2>Performable</h2>
        <p>Every day, 98% of the people who visit your website make a near-instantaneous decision NOT to do business with you. They end up leaving, never to return. With <a href="http://performable.com">Performable</a>'s easy-to-use, do-it-yourself tools you can improve your website and convert online visitors into customers.</p>
      </li>
      <li>
        <h2>SCVNGR</h2>
        <p>SCVNGR is a game layer on top of the world. We're part awesome casual game and part powerful mobile gaming platform. Playing SCVNGR is easy. It's all about going places, doing challenges and earning points. Building on SCVNGR is even easier. Institutions and individuals can add custom challenges to their favorite places either from the phone or by using SCVNGR Builder online.</p>
      </li>
      <li>
        <h2>Swipely</h2>
        <p><a href="http://swipely.com">Swipely</a> provides a secure platform for consumers to recommend purchase experiences, discover new places and products through trusted friends, save money, and have more fun shopping. Our vision is to reinvent how people shop, share and save by adding value to every swipe.</p>
      </li>
      <li>
        <h2>Yottaa</h2>
        <p><a href="http://yottaa.com">Yottaa</a> Driven by the pursuit for a better Internet, Yottaa aspires to empower a new generation of interactive experience by innovating at the forefront of cloud computing. The first offering is Performance Analytics, a cloud service that monitors, ranks and analyzes the performance of millions of web sites, providing an open database to answer questions such as "why performance matters" and "how fast is my site".</p>
      </li>
    </ul>
    <p>Contact <a href="mailto:jason@greenhornconnect.com">Jason</a> if your company would like to attend.</p>
  </section>
  <hr class="bottom"/>
  <section id="registration">
    <a name="register"></a>
    <%= render :partial => 'form', :locals => { :registration => @registration } %>
  </section>
  <hr class="alternate"/>
  <section id="attendees">
    <header>
      <h1>The Attendees</h1>
    </header>
    <h2 id="developer-title">developers</h2><h2 id="designer-title">designers</h2>
    <div id="developer-attendees" class="left">
      <ul>
        <% @developers.each do |developer| %>
          <li>
            <%= twitter_avatar developer.twitter, 48 %>
            <hgroup>
              <h3><%= developer.name %></h3>
              <h4><%= developer.school_name %></h4>
            </hgroup>
          </li>
        <% end %>
      </ul>
    </div>
    <div id="designer-attendees" class="right">
      <ul>
        <% @designers.each do |designer| %>
          <li>
            <%= twitter_avatar designer.twitter, 48 %>
            <hgroup>
              <h3><%= designer.name %></h3>
              <h4><%= designer.school_name %></h4>
            </hgroup>
          </li>
        <% end %>
      </ul>
    </div>
  </section>
</section>
