<div id="free-event">
  <img src="/images/free-event.png" alt="free-event" width="549" height="49" />
</div>

<div id="main">
  <div id="descriptions" class="clearfix">
    <div id="developers">
      <h2>What</h2>
      <p>
        On a cold Saturday in February, 100 high school and college students will get together to talk about making
        web and mobile applications. Fun, in-demand technologies will be introduced by some of the premier members
        of the Boston, startup, and web communities.
      </p>
    </div>
    <div id="divider">
      <img src="/images/description-divider.png" alt="description-divider" width="48" height="174" />
    </div>
    <div id="designers">
      <h2>Why</h2>
      <p>
        There is a shortage of talent in Boston as local startups fail to find great designers and developers.
        Why not get paid well to participate in a creative and intrinsincly satisfying activity?
      </p>
    </div>
  </div>
  <hr class="bottom"/>
  <div id="event-location">
    <div id="compass">
      <img src="/images/compass.png" alt="compass" width="211" height="181" />
    </div>
    <div id="location">
      <p>One Memorial Drive, Cambridge, MA</p>
      <p class="venue">Microsoft NERD Center</p>
      <p class="date">11am - 3pm, february 5th, 2011</p>
    </div>
  </div>
  <hr class="top"/>
  <div class="register-button top clearfix">
    <div class="hand left"></div>
    <h2><a href="#register">register now</a></h2>
    <div class="hand right"></div>
  </div>
</div>
<div id="main-bottom">
</div>
<div id="schedule">
  <h1>Schedule</h1>
  <ol id="schedule">
    <li>
      <p class="event-time">11:00am</p><p class="event-title"><a href="#">Brunch</a></p>
    </li>
    <li>
      <p class="event-time">11:30am</p><p class="event-title"><a href="#">Why Work at a Startup?</a></p>
      <p class="event-speaker">Angus Davis (Swipely)</p>
    </li>
    <li>
      <p class="event-time">11:40am</p><p class="event-title"><a href="#">A Day in the Life of a Developer</a></p>
      <p class="event-speaker">Dharmesh Shah (Hubspot)</p>
    </li>
    <li>
      <p class="event-time">11:50am</p><p class="event-title"><a href="#">Everybody Codes</a></p>
      <p class="event-speaker">Antonio Rodriguez (Matrix, HP)</p>
    </li>
    <li>
      <p class="event-time">12:00pm</p><p class="event-title"><a href="#">Typography</a></p>
      <p class="event-speaker">TBA</p>
    </li>
    <li>
      <p class="event-time">12:10pm</p><p class="event-title"><a href="#">Grids</a></p>
      <p class="event-speaker">TBA</p>
    </li>
    <li>
      <p class="event-time">12:20pm</p><p class="event-title"><a href="#">Color</a></p>
      <p class="event-speaker">TBA</p>
    </li>
    <li>
      <p class="event-time">12:30pm</p><p class="event-title"><a href="#">Text Editor</a></p>
      <p class="event-speaker">TBA</p>
    </li>
    <li>
      <p class="event-time">12:40pm</p><p class="event-title"><a href="#">Unix Shell</a></p>
      <p class="event-speaker">Mike Burns (thoughtbot)</p>
    </li>
    <li>
      <p class="event-time">12:50pm</p><p class="event-title"><a href="#">Git</a></p>
      <p class="event-speaker">Tom Preston-Warner (Github)</p>
    </li>
    <li>
      <p class="event-time">1:00pm</p><p class="event-title"><a href="#">Break</a></p>
    </li>
    <li>
      <p class="event-time">1:10pm</p><p class="event-title"><a href="#">Web Standards</a></p>
      <p class="event-speaker">Chris Bowen (Microsoft)</p>
    </li>
    <li>
      <p class="event-time">1:20pm</p><p class="event-title"><a href="#">HTML5 & CSS3</a></p>
      <p class="event-speaker">TBA</p>
    </li>
    <li>
      <p class="event-time">1:30pm</p><p class="event-title"><a href="#">jQuery</a></p>
      <p class="event-speaker">John Resig (jQuery, Mozilla)</p>
    </li>
    <li>
      <p class="event-time">1:40pm</p><p class="event-title"><a href="#">jQuery Mobile</a></p>
      <p class="event-speaker">John Resig (jQuery, Mozilla)</p>
    </li>
    <li>
      <p class="event-time">1:50pm</p><p class="event-title"><a href="#">Ruby on Rails</a></p>
      <p class="event-speaker">TBA</p>
    </li>
    <li>
      <p class="event-time">2:00pm</p><p class="event-title"><a href="#">PostgreSQL</a></p>
      <p class="event-speaker">Jim Psota (Panjiva)</p>
    </li>
    <li>
      <p class="event-time">2:10pm</p><p class="event-title"><a href="#">NoSQL</a></p>
      <p class="event-speaker">Daniel Weinreb (ITA Software)</p>
    </li>
    <li>
      <p class="event-time">2:20pm</p><p class="event-title"><a href="#">Ship It</a></p>
      <p class="event-speaker">Ben Scofield (Heroku)</p>
    </li>
    <li>
      <p class="event-time">2:30pm</p><p class="event-title"><a href="#">Startup Tables</a></p>
    </li>
  </ol>
</div>
<div id="main-continue-top">
</div>
<div id="main-continue">
  <div class="register-button bottom clearfix">
    <div class="hand left"></div>
    <h2><a href="#register">register now</a></h2>
    <div class="hand right"></div>
  </div>
  <!--
  <hr class="bottom"/>
  <div id="after-party" class="clearfix">
    <div class="wreath left">
      <img src="/images/angel-investors.png" alt="angel-investors" width="215" height="200" />
    </div>
    <div id="after-party-description">
      <h1>after party</h1>
      <h4>drinks on the rich dudes</h4>
      <h2>Flat Top Jonny's</h2>
      <h3>One Kendall Square</h3>
    </div>
    <div class="wreath right">
      <img src="/images/venture-capitalists.png" alt="venture-capitalists" width="215" height="200" />
    </div>
  </div>
  -->
  <hr class="top"/>
  <div id="registration">
    <div id="registration-banner">
      <img src="/images/registration-banner.png" alt="registration-banner" width="422" height="145" />
      <p id="subtitle">Tell us more about yourself</p>
    </div>
    <%= semantic_form_for @registration, :html => { :name => "Event Registration", :id => "event-registration" } do |form| %>
      <ol class="left">
        <li><p><%= form.input :twitter, :label => "Twitter Name" %></p></li>
        <li><p><%= form.input :name,    :label => "Full Name" %></p></li>
        <li><p><%= form.input :school,  :label => "School" %></p></li>
      </ol>
      <ol class="right">
        <li id="description">
          <p><%= form.input :why, :label => "Why are you attending?" %></p>
        </li>
        <li id="radio">
          <label>Weapon of choice:</label>
          <p class="radio developer">
            <%= form.radio_button :role, "Developer" %>Developer
          </p>
          <p class="radio designer">
            <%= form.radio_button :role, "Designer" %>Designer
          </p>
        </li>
        <li id="submit-button">
          <%= form.submit "Register", :id => 'submit-btn' %>
        </li>
      </ol>
    <% end %>
  </div>
</div>
