<section id="free-event">
  <img src="/images/free-event-1.png" alt="free-event" width="25" height="49" />
  <a href="#registration"><img src="/images/free-event-2.png" alt="free-event" width="82" height="49" /></a>
  <img src="/images/free-event-3.png" alt="free-event" width="353" height="49" />
</section>

<section id="main">
  <div id="descriptions" class="clearfix">
    <section id="what">
      <h2>What</h2>
      <p>
        On a cold Saturday in February, 140 high school and college students will gather to talk about making
        web and mobile applications. In-demand technologies will be introduced by some of the premier members
        of the web startup community. <%= link_to "Learn more.", page_path("what") %>
      </p>
    </section>
    <div id="divider">
      <img src="/images/description-divider.png" alt="description-divider" width="48" height="174" />
    </div>
    <section id="why">
      <h2>Why</h2>
      <p>
        There is a shortage of great designer and developer talent in Boston, San Francisco, New York, and
        elsewhere as startup demand has increased recently. Jobs are available but more importantly,
        the work is intrinsicly fun and satisfying.
      </p>
    </section>
  </div>
  <hr class="bottom"/>
  <section id="event-location">
    <div id="compass">
      <img src="/images/compass.png" alt="compass" width="211" height="181" />
    </div>
    <div id="location">
      <p>One Memorial Drive, Cambridge, MA</p>
      <p class="venue">Microsoft NERD Center</p>
      <p class="date">11am - 3pm, february 5th, 2011</p>
    </div>
  </section>
  <hr class="top"/>
  <div class="register-button top clearfix">
    <div class="hand left"></div>
    <h2><a href="#registration">register now</a></h2>
    <div class="hand right"></div>
  </div>
</section>
<div id="main-bottom">
</div>
<section id="schedule">
  <h1>Schedule</h1>
  <p id="schedule-info">Students will eat, hear some talks, then meet designers and developers from startups. The talks are short and motivational. Many focus on one technology or technique which is currently in high demand by startups. Students will hear why it's awesome and some of the cool things you can do with it. They will not be introductory tutorials. We're <%= link_to "carefully curating resources", page_path("what") %> for further study on each topic.</p>
  <ol id="schedule">
    <li>
      <p class="event-time">11:00am</p><p class="event-title"><a href="#">Brunch</a></p>
    </li>
    <li>
      <p class="event-time">11:30am</p>
      <p class="event-title"><%= link_to "Why Work at a Startup?", page_path("what", :anchor => "why-work-at-a-startup") %></p>
      <p class="event-speaker">Angus Davis (Swipely)</p>
    </li>
    <li>
      <p class="event-time">11:40am</p>
      <p class="event-title"><%= link_to "A Day in the Life of a Designer", page_path("what", :anchor => "a-day-in-the-life-of-a-designer") %></p>
      <p class="event-speaker double">Caroline Hadilaksono &amp; <br />Micah Rich (A Good Company)</p>
    </li>
    <li>
      <p class="event-time">11:50am</p><p class="event-title"><a href="#">A Day in the Life of a Developer</a></p>
      <p class="event-speaker">Dharmesh Shah (Hubspot)</p>
    </li>
    <li>
      <p class="event-time">12:00pm</p>
      <p class="event-title"><a href="#">User Experience</a></p>
      <p class="event-speaker">TBA</p>
    </li>
    <li>
      <p class="event-time">12:10pm</p>
      <p class="event-title"><a href="#">Typography</a></p>
      <p class="event-speaker">TBA</p>
    </li>
    <li>
      <p class="event-time">12:20pm</p>
      <p class="event-title"><%= link_to "Grids", page_path("what", :anchor => "grids") %></p>
      <p class="event-speaker">Chad Mazzola (thoughtbot)</p>
    </li>
    <li>
      <p class="event-time">12:30pm</p>
      <p class="event-title"><a href="#">Text Editor</a></p>
      <p class="event-speaker">TBA</p>
    </li>
    <li>
      <p class="event-time">12:40pm</p>
      <p class="event-title"><%= link_to "Unix Shell", page_path("what", :anchor => "unix-shell") %></p>
      <p class="event-speaker">Mike Burns (thoughtbot)</p>
    </li>
    <li>
      <p class="event-time">12:50pm</p>
      <p class="event-title"><%= link_to "Git", page_path("what", :anchor => "git") %></p>
      <p class="event-speaker">Tom Preston-Werner (Github)</p>
    </li>
    <li>
      <p class="event-time">1:00pm</p><p class="event-title"><a href="#">Break</a></p>
    </li>
    <li>
      <p class="event-time">1:10pm</p>
      <p class="event-title"><%= link_to "Web Standards", page_path("what", :anchor => "web-standards") %></p>
      <p class="event-speaker">Chris Bowen (Microsoft)</p>
    </li>
    <li>
      <p class="event-time">1:20pm</p>
      <p class="event-title"><a href="#">HTML5 & CSS3</a></p>
      <p class="event-speaker">TBA</p>
    </li>
    <li>
      <p class="event-time">1:30pm</p>
      <p class="event-title"><%= link_to "jQuery", page_path("what", :anchor => "jquery") %></p>
      <p class="event-speaker">John Resig (Mozilla)</p>
    </li>
    <li>
      <p class="event-time">1:40pm</p>
      <p class="event-title"><%= link_to "jQuery Mobile", page_path("what", :anchor => "jquery-mobile") %></p>
      <p class="event-speaker">John Resig (Mozilla)</p>
    </li>
    <li>
      <p class="event-time">1:50pm</p>
      <p class="event-title"><%= link_to "Ruby on Rails", page_path("what", :anchor => "ruby-on-rails") %></p>
      <p class="event-speaker">Pat Nakajima (GroupMe)</p>
    </li>
    <li>
      <p class="event-time">2:00pm</p>
      <p class="event-title"><%= link_to "PostgreSQL", page_path("what", :anchor => "postgresql") %></p>
      <p class="event-speaker">Jim Psota (Panjiva)</p>
    </li>
    <li>
      <p class="event-time">2:10pm</p>
      <p class="event-title"><%= link_to "NoSQL", page_path("what", :anchor => "nosql") %></p>
      <p class="event-speaker">Daniel Weinreb (ITA Software)</p>
    </li>
    <li>
      <p class="event-time">2:20pm</p>
      <p class="event-title"><%= link_to "Ship It", page_path("what", :anchor => "ship-it") %></p>
      <p class="event-speaker">Ben Scofield (Heroku)</p>
    </li>
    <li>
      <p class="event-time">2:30pm</p><p class="event-title"><a href="#">Startup Tables</a></p>
    </li>
  </ol>
</section>
<div id="main-continue-top">
</div>
<section id="main-continue">
  <div class="register-button bottom clearfix">
    <div class="hand left"></div>
    <h2><a href="#registration">register now</a></h2>
    <div class="hand right"></div>
  </div>
  <!--
  <hr class="bottom"/>
  <div id="after-party" class="clearfix">
    <div class="wreath left">
      <img src="/images/angel-investors.png" alt="angel-investors" width="215" height="200" />
    </div>
    <div id="after-party-description">
      <h1>after party</h1>
      <h4>drinks on the rich dudes</h4>
      <h2>Flat Top Jonny's</h2>
      <h3>One Kendall Square</h3>
    </div>
    <div class="wreath right">
      <img src="/images/venture-capitalists.png" alt="venture-capitalists" width="215" height="200" />
    </div>
  </div>
  -->
  <hr class="top"/>
  <section id="registration">
    <a name="register"></a>
    <%= render :partial => 'form', :locals => { :registration => @registration } %>
  </section>
  <hr class="bottom"/>
  <section id="startup_tables">
    <div id="banner">
      <img src="/images/startup_tables.png" alt="Startup Tables" width="422" height="130" />
    </div>
    <ul id="startup_tables_list">
      <% 3.times do %>
      <li>
        <h2>Foursquare</h2>
        <div class="logo"><img src="http://avatar.statusok.com/foursquare?size=73" alt="Foursquare" width="73px" height="73px" /></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem ligula. Phasellus vulputate risus vel diam placerat ac tempor massa elementum. Pellentesque id nisl vitae elit tincidunt hendrerit non et felis. Vivamus luctus, tellus ut rhoncus ornare, tellus mauris eleifend neque, eu congue risus augue sed nisl. Duis odio felis, lobortis et cursus vitae, auctor non risus. Nulla facilisi. Nullam in nunc ut metus tristique iaculis.</p>
      </li>
      <% end %>
    </ul>
  </section>
</section>
