<section id="free-event">
<h1>Schedule &amp; Resources</h1>
</section>
<section id="main">
  <section class="talk-wrapper">
    <a name="why-work-at-a-startup"></a>
    <div class="speaker-image">
      <%= link_to "http://twitter.com/angusdav" do %>
        <img src="http://avatar.statusok.com/angusdav?size=73" alt="profile" />
      <% end %>
    </div>
    <div class="talk-description">
      <h2>Why Work at a Startup? - Angus Davis</h2>
      <p>Angus Davis is the Founder and CEO of Swipely.</p>
      <p>Angus co-founded Tellme, a speech recognition and mobile search start-up that grew to more than $100 million in sales and over 300 employees with $238 million in backing from Kleiner Perkins and Benchmark Capital, among other investors. In 2007, Microsoft acquired Tellme in its largest-ever acquisition of a private company. Angus left Microsoft in May 2009 to start Swipely.</p>
      <p>Prior to Tellme, Angus joined Netscape Communications in 1996 as the company's youngest employee at age 18. He worked in the office of the CTO and he was product manager for the flagship web browser and the web rendering engine (“Gecko”). He represented Netscape on the HTML and CSS standards groups and he helped establish Mozilla.org, before leaving to co-found Tellme in 1999 with Mike McCue, Netscape's VP of Technology.</p>
      <h3>Resources</h3>
      <ul>
        <li><a href="http://paulgraham.com/wealth.html">How to Make Wealth</a> “If you wanted to get rich, how would you do it? I think your best bet would be to start or join a startup.”</li>
        <li><a href="http://paulgraham.com/cities.html">Cities and Ambition</a> “As of this writing, Cambridge seems to be the intellectual capital of the world."</li>
        <li><a href="http://paulgraham.com/really.html">What Startups are Really Like</a> “Unconsciously, everyone expects a startup to be like a job, and that explains most of the surprises.”</li>
      </ul>
    </div>
  </section>
  <hr class="alternate"/>
  <section class="talk-wrapper">
    <a name="passionate-design"></a>
    <div class="speaker-image">
      <%= link_to "http://twitter.com/agoodcompany" do %>
        <img src="http://avatar.statusok.com/agoodcompany?size=73" alt="profile" />
      <% end %>
    </div>
    <div class="talk-description">
      <h2>Passionate Design - Caroline Hadilaksono &amp; Micah Rich</h2>
      <p>Once upon a time, there was a boy. He called himself Micah. He lived all over the place – sometimes New York, one time in Boston, and sometimes in sunny California.</p>

      <p>On the first day of the first month of the year 2009, he and his friend Caroline started working as A Good Company, so that they could play and have fun all the time. They still do to this very day.</p>
      <h3>Resources</h3>
      <ul>
        <li><a href="http://www.weareagoodcompany.com/">A Good Company</a> “Our super-powers can be used for the betterment of humankind.”</li>
        <li><a href="http://www.theleagueofmoveabletype.com/">The League of Movable Type</a> “Only the most well-made, free &amp; open-source, @font-face ready fonts.”</li>
      </ul>
    </div>
  </section>
  <hr class="alternate"/>
  <section class="talk-wrapper">
    <a name="a-day-in-the-life-of-a-developer"></a>
    <div class="speaker-image">
      <%= link_to "http://twitter.com/dharmesh" do %>
        <img src="http://avatar.statusok.com/dharmesh?size=73" alt="profile" />
      <% end %>
    </div>
    <div class="talk-description">
      <h2>A Day in the Life of a Developer - Dharmesh Shah</h2>
    </div>
  </section>
  <hr class="alternate"/>
  <section class="talk-wrapper">
    <a name="unix-shell"></a>
    <div class="speaker-image">
      <%= link_to "http://twitter.com/mikeburns" do %>
        <img src="http://avatar.statusok.com/mikeburns?size=73" alt="profile" />
      <% end %>
    </div>
    <div class="talk-description">
      <h2>Unix Shell - Mike Burns</h2>
    </div>
  </section>
  <hr class="alternate"/>
  <section class="talk-wrapper">
    <a name="git"></a>
    <div class="speaker-image">
      <%= link_to "http://twitter.com/mojombo" do %>
        <img src="http://avatar.statusok.com/mojombo?size=73" alt="profile" />
      <% end %>
    </div>
    <div class="talk-description">
      <h2>Git - Tom Preston-Werner</h2>
    </div>
  </section>
  <hr class="alternate"/>
  <section class="talk-wrapper">
    <a name="web-standards"></a>
    <div class="speaker-image">
      <%= link_to "http://twitter.com/chrisbowen" do %>
        <img src="http://avatar.statusok.com/chrisbowen?size=73" alt="profile" />
      <% end %>
    </div>
    <div class="talk-description">
      <h2>Web Standards - Chris Bowen</h2>
    </div>
  </section>
  <hr class="alternate"/>
  <section class="talk-wrapper">
    <a name="jquery"></a>
    <div class="speaker-image">
      <%= link_to "http://twitter.com/jeresig" do %>
        <img src="http://avatar.statusok.com/jeresig?size=73" alt="profile" />
      <% end %>
    </div>
    <div class="talk-description">
      <h2>jQuery - John Resig</h2>
    </div>
  </section>
  <hr class="alternate"/>
  <section class="talk-wrapper">
    <a name="jquery-mobile"></a>
    <div class="speaker-image">
      <%= link_to "http://twitter.com/jeresig" do %>
        <img src="http://avatar.statusok.com/jeresig?size=73" alt="profile" />
      <% end %>
    </div>
    <div class="talk-description">
      <h2>jQuery Mobile - John Resig</h2>
    </div>
  </section>
  <hr class="alternate"/>
  <section class="talk-wrapper">
    <a name="postgresql"></a>
    <div class="speaker-image">
      <%= link_to "http://twitter.com/panjiva" do %>
        <img src="http://avatar.statusok.com/panjiva?size=73" alt="profile" />
      <% end %>
    </div>
    <div class="talk-description">
      <h2>PostgreSQL - Jim Psota</h2>
    </div>
  </section>
  <hr class="alternate"/>
  <section class="talk-wrapper">
    <a name="nosql"></a>
    <div class="speaker-image">
      <%= link_to "http://twitter.com/dlweinreb" do %>
        <img src="http://avatar.statusok.com/dlweinreb?size=73" alt="profile" />
      <% end %>
    </div>
    <div class="talk-description">
      <h2>NoSQL - Daniel Weinreb</h2>
    </div>
  </section>
  <hr class="alternate"/>
  <section class="talk-wrapper">
    <a name="ship-it"></a>
    <div class="speaker-image">
      <%= link_to "http://twitter.com/bscofield" do %>
        <img src="http://avatar.statusok.com/bscofield?size=73" alt="profile" />
      <% end %>
    </div>
    <div class="talk-description">
      <h2>Ship It - Ben Scofield</h2>
    </div>
  </section>
  <hr class="alternate"/>
</section>
