<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>dddd</title>
  <%= stylesheet_link_tag :flutie, 'screen', :media => 'all', :cache => true, :recursive => true %>
  <link href='http://fonts.googleapis.com/css?family=IM+Fell+English:regular,italic&subset=latin' rel='stylesheet' type='text/css'>
  <link href='/stylesheets/font-face/league-gothic/stylesheet.css' rel='stylesheet' type='text/css'>
  <link href='/stylesheets/font-face/carnival/stylesheet.css' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "jquery", "jquery-ui", "prefilled_input", "rails", "application", :cache => true %>
  <%= csrf_meta_tag %>
</head>
<body class="<%= body_class %>">
  <div id="container">

    <header>
      <div id="benefactors" class="clearfix">
        <div id="logo-left">
          <img src="/images/greenhorn-logo.png" alt="greenhorn-logo" width="139" height="72" />
        </div>
        <div id="banner">
          <img src="/images/greenhorn_thoughtbot_banner.png" alt="greenhorn_thoughtbot_banner" width="326" height="72" />
        </div>
        <div id="logo-right">
          <img src="/images/thoughtbot-logo.png" alt="thoughtbot-logo" width="77" height="72" />
        </div>
      </div>
      <hr class="top" />
      <div id="dddd-logo">
        <img src="/images/DDDD-logo.png" alt="DDDD-logo" width="778" height="284" />
      </div>
    </header>

    <div id="free-event">
      <img src="/images/free-event.png" alt="free-event" width="900" height="80" />
    </div>

    <!-- Start of main content -->
    <div id="main">
      <div id="descriptions" class="clearfix">
        <div id="developers">
          <h2>Developers</h2>
          <p>Sed varius fermentum mauris, sed varius elit sagittis a. Integer ligula leo, condimentum a sodales at, lacinia vel nisi. Quisque lacus sapien, aliquet ac euismod sit amet, viverra ac quam. Morbi luctus gravida bibendum. Ut vitae mauris ligula, in ullamcorper eros. </p>
        </div>
        <div id="divider">
          <img src="/images/description-divider.png" alt="description-divider" width="48" height="174" />
        </div>
        <div id="designers">
          <h2>Designers</h2>
          <p>In quis nisi eros. Donec sed egestas mi. Vivamus lectus neque, lacinia dignissim venenatis a, convallis id lacus. Nulla eu tellus risus. Donec laoreet, risus sed tincidunt volutpat, velit velit scelerisque quam, eget ornare metus mauris non velit.</p>
        </div>
      </div>
      <hr class="bottom"/>
      <div id="event-location">
        <div id="compass">
          <img src="/images/compass.png" alt="compass" width="211" height="181" />
        </div>
        <div id="location">
          <p>One Memorial Drive, Cambridge, MA</p>
          <p class="venue">Microsoft NERD Center</p>
          <p class="date">11am - 3pm, february 5th, 2011</p>
        </div>
      </div>
      <hr class="top"/>
      <div class="register-button clearfix">
        <div class="hand left"></div>
        <h2><a href="#">register now</a></h2>
        <div class="hand right"></div>
      </div>
    </div>
    <div id="main-bottom">
    </div>
    <div id="schedule">
    </div>
    <div id="main-continue-top">
    </div>
    <div id="main-continue">
      <div class="register-button clearfix">
        <div class="hand left"></div>
        <h2><a href="#">register now</a></h2>
        <div class="hand right"></div>
      </div>
    </div>
    <footer>

    </footer>
    <%= render :partial => 'shared/javascript' %>
  </div>
</body>
</html>
